/* Created by HP on 6/16/2018.*/
/* Author: Mainul Hasan.*/
body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden; /*  Disable scrollbars */
    background: url("../images/bryan-goff-360297-unsplash.jpg") no-repeat center;
    background-size: cover;
}
header {
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}
#myCanvas {

}